parameters:
    level: max
    checkBenevolentUnionTypes: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInPropertyPhpDocTypes: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    paths:
        - packages
        - tests
    excludePaths:
        - tests/doctrine/*
        - tests/var/*
        - packages/collections-domain/src/Internal/DirectClosureExpressionVisitor.php
    ignoreErrors:
        - '#Call to method __construct\(\) of internal class Doctrine\\Bundle\\DoctrineBundle\\Repository\\LazyServiceEntityRepository\<T#'
        -
            message: '#Property .* is never assigned .+ so it can be removed from the property type.#'
            reportUnmatched: false
        -
            message: '#deprecated class Rekalogika\\Domain\\Collections\\ArrayCollection#'

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/ekino/phpstan-banned-code/extension.neon
    - vendor/bnf/phpstan-psr-container/extension.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon
