name: CI

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: [ '8.2', '8.3', '8.4' ]
        dep: [highest,lowest]

    name: ${{ matrix.dep }} deps, PHP ${{ matrix.php }}, ${{ matrix.operating-system }}

    steps:
    - uses: actions/checkout@v4

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: intl
        tools: flex

    - name: Install Symfony Flex globally
      run: |
        composer global config --no-plugins allow-plugins.symfony/flex true
        composer global require --no-progress --no-scripts --no-plugins symfony/flex

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      uses: ramsey/composer-install@v3
      with:
        dependency-versions: ${{ matrix.dep }}
        composer-options: --prefer-dist --no-progress --no-scripts

    - name: Run phpstan
      run: vendor/bin/phpstan analyse

    - name: Validate monorepo
      run: vendor/bin/monorepo-builder validate

    - name: Run phpunit
      run: |
        make fixtures
        make phpunit
